@import '../../../styles/constants.scss';

.container{
    position: relative;
    display: flex;
    background-image: url("../../../public/images/pages/home/header.jpg");
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 480px;
    flex-direction: column;
    // filter: grayscale(50%);

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .35;
        position: absolute;
        z-index: 1;
    }
}
.title{
    display: flex;
    z-index: 2;
    font-size: $font-size-title-x;
}
.subtitle{
    display: flex;
    z-index: 2;
    font-size: $font-size-subtitle;
}