@import '../../../../styles/constants.scss';

.delivery{
    margin-top:30px;
}
.deliveryWrapper{
    display:flex;
    justify-content: start;
    gap:45px;
    background-color: #fff;
    border-radius:8px;
    padding:10px 20px;
    border: 1px solid $color-gray-light;
    @media(max-width:$screen-size-sm){
        gap:20px;
    }
}
.categoryBlock{
    display:flex;
    flex-direction:column;
    justify-items: flex-start;
    gap:20px;
    @media(max-width:$screen-size-sm){
        gap:12px;
    }
}
.headerWrapper{
    background-color: $color-gray-1;
    max-width:120px;
    padding:4px 6px;
    border-radius: 0.5rem;
    display:flex;
    gap:8px;
    align-items:center;
    justify-content: center;
    @media(max-width:$screen-size-sm){
        padding:2px 3px;
        gap:5px;
    }
    
}
.header{
    font-size:16px;
    text-transform: capitalize;
    font-weight: 400;
    margin:0;
    padding:0;
}
.headerIcon{
    width:20px;
    height:20px;
    position:relative;
}
.categoryBody{
    display:flex;
    flex-direction: column;
    gap:12px;
    @media(max-width:$screen-size-sm){
        gap:10px;
    }
}

.bodyItem{
    display:flex;
    justify-content: space-between;
    gap:25px;
}
.bodyItemDetails{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.bodyItemHeader{
    font-weight:600;
    font-size:16px;
    @media(max-width:$screen-size-sm){
        font-weight:700;
        font-size:14px;
    }
}
.bodyItemDescription{
    color:$color-blue-main;
    font-size:12px;
}
.bodyItemPrice{
    font-size:14px;
    font-weight:500;
    align-self:center;
    white-space: nowrap;
}
.bodyPromotionItem{
    display:flex;
    gap:10px;
    align-items: center;
}
.bodyPromotionImg{
    height:40px;
    width:40px;
    position:relative;
}
.bodyPromotionDescription{
    letter-spacing: 1px;
    color:$color-green;
    font-size:14px;
}
.bodyPromotionTextWrapper{
    display:flex;
    flex-direction:column;

}
.bodyPromotionHeader{
    letter-spacing: 1px;
    font-weight:800;
    text-transform: uppercase;
    font-size:18px;
    color:$color-green;

    @media(max-width:$screen-size-sm){
        letter-spacing: 0px;
        font-size:16px;
    }
    

}

