@import '../../../../../styles/constants.scss';
.asideBtnWrapper{
    border-bottom: 1px solid $color-gray-light;
    &:hover{
        background-color:$color-gray-transparent;
    }
}
.asideBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    padding: 0 8px 0 16px;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    text-align: left;
    cursor:pointer;

}
.asideBtnTitle{
    font-size: 16px;
    color: #221f1f;
}

.asideBtnAdditionalText{
    display: inline-block;
    flex-shrink: 0;
    max-width: 30%;
    margin-left: auto;
    margin-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    color: #221f1f;
    text-overflow: ellipsis;
    position:relative;
    &:after{
        content:'';
        mask: url(/images/icons/downArrow.svg) no-repeat 50% 50%;
        -webkit-mask:  url(/images/icons/downArrow.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        display:inline-block;
        background-color:#2d98da;
        width:11px;
        height:11px;
        margin-left:6px;
        transform: rotate(-90deg);
      }
}