@import '/styles/constants.scss';

.contactInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.personalDataInput{
    max-width:300px;
    @media(max-width:$screen-size-sm){
        max-width:none;
    }

}