@import '../../../styles/constants.scss';
.header{
    display: grid;
    color: #fff;
    background-color: $color-blue-main;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.header a{
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.headerTop{
    display: grid;
    height: 40px;
}
.headerContent{
    display: grid;
    height: $height-header-desk;
    padding: 0 20px;
    grid-template-columns: auto;
    grid-template-rows: 30px 70px;
}
.headerNavigation{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto;

    @media only screen and (max-width: $screen-size-mob){
        grid-template-columns: 150px auto 150px;    
    }
}
.navigationLeft{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
}
.navigationRight{
    display: grid;
    width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(30px, auto) );
    grid-template-rows: auto;
    justify-self: end;
    align-items: center;
}
.headerItems{
    display: grid;
    grid-template-columns: 150px auto 300px;
    grid-template-rows: auto;
    column-gap: 30px;

    @media only screen and (min-width: $screen-size-mob) and (max-width: $screen-size-lap) {
        grid-template-columns: 150px auto 170px;
    }
    @media only screen and (max-width: $screen-size-mob){
        grid-template-columns: 70px auto 170px;
    }
}
.itemsLeft{
    display: grid;
    cursor: pointer;

    img{
        filter: brightness(0) invert(1);
    }
}
.imgWrapper{
    display: grid;

    @media only screen and (max-width: $screen-size-mob){
        display: none;
    }
}
.itemsCenter{
    display: grid;
    align-items: center;
    position: relative;

    input{
        display: grid;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 6px;
        padding: 0 20px 0 20px;
        font-size: 15px;
        color: $color-black;
        min-width: -webkit-fill-available;
    }
    svg{
        color: #a5b1c2;
        position: absolute;
        right: 5px;
        top: 19px;
        height: 18px;
        padding: 10px;
        box-sizing: content-box;
        cursor: pointer;
    }
}
.itemsRight{
    position: relative;
    padding: 10px;

    display:flex;
    align-items:center;
    justify-content:flex-end;
    column-gap: 25px;
    svg{
        height: 35px;
        width: 35px;
        color: $color-gray-dark;
        font-size: 35px;
    }
    a{
        svg{
            color: white;
        }
    }

    @media only screen and (min-width: $screen-size-mob) and (max-width: $screen-size-lap) {
        justify-items: right;
    }
}
.headerIcon{
    cursor: pointer;
    position:relative;
    margin-right:20px;

    img{
        filter: brightness(0) invert(1);
    }
}
.logoLink{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 42px;
    gap: 10px;
    margin-right:20px;
    &:hover{
        text-decoration: none;
    }
}

.productCount{
    background-color:#ff1010;
    box-shadow:rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
    position:absolute;
    max-height:20px;
    width:100%;
    max-width:20px;
    top:5px;
    right:0;
    border-radius:50%;
    z-index:1;
    color:#fff;
    text-align:center;
    font-size:12px;
    font-weight:500;
    display:flex;
    align-items:center;
    justify-content: center;
    @media(max-width:$screen-size-lap){
        
        top:8px;
        max-height:16px;
        max-width:16px;
        font-weight:normal;
    }


}
.languagesWrapper{
    display:flex;
    gap:5px;
    text-transform:uppercase;
}
.chosenLanguage{
    color:#4d4b4b;
}