@import '../../../styles/constants.scss';

.container{
    display: grid;
    cursor: pointer;
    margin: 0 10px;
}
.image{
    display: flex;
    height: 200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.description{
    font-size: 14px;
    max-height: 45px;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.price{
    font-size: 24px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}