@import '../../../../styles/constants.scss';
.sidebar{
    width:250px;
    display:flex;
    flex-shrink:0;
    @media (max-width:$screen-size-sm){
        display:none;
    }
}
.sideBarContainer{
    width:100%;
}
.searchButtonContainer{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}