@import '../../styles//constants.scss';
.searchTitle{
    font-size: 28px;
    padding-top: 20px;
}

.nothingFound{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
}

.search{
    display: flex;
    width: 100%;
}

.searchContent{
    display: flex;
    width: 100%;
}

.searchFiltersContainer{
    border-right: 1px solid $color-gray-1;
    width: 250px;
    box-sizing: content-box;
}