$color-blue-main: #4b7bec;
$color-blue-royal: #3867d6;
$color-blue-boyzone: #2d98da;
$color-blue-hight: #45aaf2;

$color-gray-light: #d1d8e0;
$color-gray-main: #a5b1c2;
$color-gray-dark: #4b6584;

$color-black: #212225;


$height-header-desk: 120px;
$height-footer-desk: 80px;