@import './constants.scss';
.global-width-limiter{
  margin: 0 auto;
  max-width: $screen-size-med;
  width: 100%;
}

body{
  background-image: url("../public/images/global/doodle-background.jpg");
}
.button-primary{
  color: #fff;
  background-color: $color-blue-boyzone;
  padding: 5px 10px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  flex-direction: row;

  &:hover{
    background-color: $color-blue-hight;
  }
}
.centered-block{
  display: block;
  margin: 0 auto;
}
.cart-modal{
  .ant-modal-title{
    font-weight: normal;
      font-size: 24px;
  }
  .ant-modal-body{
    max-height: 500px;
    overflow-y: scroll;
  }
  .ant-modal-footer{
    display:flex;
    justify-content:space-between;
  }
  .cart-btn{
      font-size: 20px;
      height: 34px;
      box-sizing: content-box;
      background-color: $color-blue-boyzone;
      
  }
}
.box-gray{
  margin-bottom: 8px;
  padding: 16px;
  background-color: $color-gray-2;
  border-radius: 4px;
  border: 1px solid $color-gray-1;
}
.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.column{
  display: flex;
  flex-direction: column;
}
.column50{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15px;

  &:last-child{
    margin-right: 0;
  }
}
.sectionTitle{
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 300;
  text-align: left;
  align-self: flex-start;
}
.red{
  color: $color-red;
  margin-right: 5px;
  vertical-align: middle;
}
.ant-radio{
  height: fit-content;
}
.hidden{
  display: none !important;
}
.visible{
  display: flex;
}

.link{

  &-blue{
    color: #3e77aa;
  }
}
.wrapper{
  display: flex;
}
.wrapper-horizontal{
  display: flex;
  flex-direction: column;
}

.text-title-xl{
  display: flex;
  font-weight: 500;
  font-size: 22px;
  justify-content: center;
  padding-bottom: 10px;
}
.no-arrows{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
}
.iconsContainer{

  .icon-wrapper{
    padding: 10px;
    border-radius: 5px;
    box-sizing: content-box;
    display: flex;
    &:hover{
      background-color: $color-gray-transparent;
    }
  }
}
.iconContainer{
  svg{
    width: 30px;
    vertical-align: middle;
  }
}
.img-comtainer{
  vertical-align: -webkit-baseline-middle;
  img{
    object-fit: contain;
  }
}
.product-images-slider{
  .swiper-slide{
    padding-top:70%;
    overflow:hidden;
    position:relative;
    img{
      position:absolute;
      top:0;
      left:0;
      width:100%;
    }
  }
}
.product-images-slider-thumbs{
  .swiper-slide{
    cursor:pointer;
    width:54px!important;
    height:54px!important;
    margin:0 3px;
    border:1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     @media(max-width:$screen-size-desk){
      box-shadow:none;
        border:none;
        border-radius:50%;  
        width:25px!important;
        height:25px!important;
        position:relative;
        &:hover .product-images-slider-thumbs-wrapper  {
          background-color:$color-gray-dark;
          transition:background-color 0.2s
        }

      }

    &-thumb-active{
      border:1px solid $color-blue-main;
      @media(max-width:$screen-size-desk){
        border:none;
        &:hover{
          button{
            background-color:$color-blue-boyzone!important;
            width:15px!important;
            height:15px!important;
          }
        }
        button{
          background-color:$color-blue-boyzone;
          width:15px!important;
          height:15px!important;
        }
      

      }
    }
  }
  &-wrapper{
    border: 0;
    padding: 0;
    cursor:pointer;
    background-color:#fff;
    width:50px!important;
    height:50px!important;
    overflow:hidden;
    position:relative;
    @media(max-width:$screen-size-desk){
      position:absolute;
        border-radius:50%;  
        width:8px!important;
        height:8px!important;
        background-color:$color-blue-hight;
        top: 50%;  
        left: 50%; 
        transform: translate(-50%, -50%);
       
      }


    img{
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      @media(max-width:$screen-size-desk){
        display:none;
      }
    }
  }
}
