@import '/styles/constants.scss';

.container{
    margin: 0 20px 0 0;
    ul{
        border: none;
        li{
            height: 45px !important;
        }
    }

    @media only screen and (max-width: $screen-size-sm) {
        margin: 0 0 20px 0;
    }
}
.card{
    >div{
        padding: 10px;
    }
}
.menuFull{
    @media only screen and (max-width: $screen-size-sm) {
        display: none;
    }
}
.menuSplit{
    display: none;
    @media only screen and (max-width: $screen-size-sm)   {
        display: flex;
        flex-wrap: wrap;
    }
    justify-content: space-between;
}