@import '../constants.scss';
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  position: relative;

  h1{
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    width: 100%;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  label{
    font-size: 12px;
    color: $color-gray-dark;
    margin-bottom: 5px;
  }
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 200px);
  margin-right: 30px;
}
.sidebar{
  display: flex;
  width: 250px;
}
.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.colum50{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15px;

  &:last-child{
    margin-right: 0;
  }
}
.contactInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.titleSmall{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.input{
  max-width: 300px;
}
.sectionTitle{
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 300;
  text-align: left;
  align-self: flex-start;
}
.sidebar{
  display: flex;
  align-self: flex-start;
  position: sticky;
  top: 30px;

  label{
    display: flex;
    justify-self: center;
    margin-bottom: 0;
    font-size: 14px;
  }
}
.sidebarTotal{
  width: 100%;
}
.alignRight{
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.withBorders{
  display: flex;
  padding: 20px 0;
  border-top: 1px solid $color-gray-1;
  border-bottom: 1px solid $color-gray-1;
}
.totalPrice{
  font-size: 24px;
}
.checkoutOrder{
  font-size: 18px;
  height: 40px;
  width: 100%;
}
.productListWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.productList{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.selectedShipping{
  border: 1px solid #e9e9e9;
}
.deliveryContainer{
  display: flex;
  flex-direction: column;
}
.shippingContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}