.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
}
.content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.head {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}