@import '../constants.scss';
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 0 30px 0;
}
.wrapper{
  padding: 0 20px;
}
.top, .bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: $screen-size-sm)   {
      flex-direction: column;
  }
}
.bottom{
  padding-top: 30px;
}
.topLeft, .bottomLeft{
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;

  img{
    object-fit: contain;
  }

  @media only screen and (max-width: $screen-size-sm)   {
      width: 100%;
  }
}
.topRight, .bottomRight{
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;

  @media only screen and (max-width: $screen-size-sm)   {
      width: 100%;
  }
}
.images{
  display: flex;

  @media only screen and (max-width: $screen-size-sm)   {
      justify-content: center;
  }
}
.img{
  display: flex;
  position: relative;
  height: 400px;
  width: 400px;
}
.title{
  font-size: 36px;
  line-height: 43px;
}
.description{
  padding-top: 20px;
  font-size: 16px;
  white-space: pre-wrap;
}
.trade{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid $color-gray-light;
  white-space: nowrap;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 20px;

  @media only screen and (max-width: $screen-size-sm)   {
      justify-content: space-between;
  }
}
.price{
  display: flex;
  align-self: center;
  font-size: 28px;
  padding-right: 40px;
}
.buttonIcon{
  display: flex;
  width: 20px;
  align-self: center;
  margin-right: 10px;
}